/* Estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  color: #000;
}

/* Cabeçalho */
header {
  padding: 8px;
  color: #077336;
  justify-content: space-between;
}

header .container {
  display: flex;
  padding: 8px;
  align-items: center;
}

header .container .titulo {
  display: flex;
  padding: 8px;
  align-items: center;
}

/* Menu */
#menuGrande {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 521px;
}

header h1 {
  font-family: "Mohave", sans-serif;
  margin-left: 12px;
}

header img {
  height: 60px;
}

header nav .lista-icones {
  display: flex;
}

header nav .lista-icones a {
  text-decoration: none;
  font-size: 18px;
}

header nav img {
  height: 38px;
}

header nav ul {
  display: block;
  align-items: center;
  text-align: center;
}

header nav li {
  list-style: none;
  padding: 8px;
}

/* Imagens */
img {
  height: 320px;
}

/* Mensagem de desconto */
.desconto-msg {
  text-align: center;
  margin: 1.5rem;
}

.desconto-msg h2 {
  margin-bottom: 0.7rem;
}

/* Seção Quem Somos */
.quem-somos {
  display: flex;
  padding: 1rem;
  padding-bottom: 0px;
}

.quem-somos .sobre-img img {
  border: 0.2rem solid black;
  border-radius: 4rem 1.2rem;
  margin-right: 1.7rem;
}

.quem-somos .sobre-descricao {
  padding: rem;
  margin: rem;
}

.quem-somos .sobre-descricao h2 {
  text-align: center;
}

.quem-somos .sobre-descricao hr {
  margin-bottom: 0.7rem;
}

.quem-somos .sobre-descricao p {
  text-align: justify;
}

/* Seção Produtos */
.produtos .produtos-desconto h2 {
  align-items: center;
  text-align: center;
  margin: 50px auto;
  font-size: 2rem;
}

.produtos .produtos-desconto ul {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 32.6%);
  column-gap: 1%;
  list-style: none;
}

.produtos .produtos-desconto ul li,
.produtos .produtos-desconto ul li img {
  max-width: 220px;
}

.produtos .produtos-desconto button {
  background-color: #95bfa4;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Rodapé */
footer {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding: 8px;
  margin-top: 50px;
}

/* Menu Hambúrguer e Media Queries */
#menu-hamburguer {
  display: none;
}

#itens-menu-hamburguer {
  display: none;
}

#fechar-menu {
  display: none; /* Inicialmente oculto */
}

/* Media Queries para telas médias */
@media screen and (min-width: 641px) and (max-width: 1023px) {
  header .container {
    justify-content: space-between;
  }

  #menu-hamburguer {
    display: block;
  }

  #menuGrande {
    display: none;
  }

  .lista-menu-hamburguer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #itens-menu-hamburguer {
    background-color: #51c997;
    border-radius: 0.9rem 2rem;
  }

  .quem-somos {
    display: grid;
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 0px;
  }

  .produtos .produtos-desconto ul {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 1%;
    list-style: none;
  }

  .produtos .produtos-desconto ul li,
  .produtos .produtos-desconto ul li img {
    max-width: 220px;
    margin: 0.7rem;
    justify-self: center;
  }
}

/* Media Queries para telas pequenas */
@media screen and (max-width: 640px) {
  header .container {
    justify-content: space-between;
  }

  #menu-hamburguer {
    display: block;
  }

  #menuGrande {
    display: none;
  }

  .lista-menu-hamburguer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #itens-menu-hamburguer {
    background-color: #51c997;
    border-radius: 0.9rem 2rem;
  }

  .quem-somos {
    display: grid;
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 0px;
  }

  .produtos .produtos-desconto ul {
    display: grid;
    grid-template-columns: repeat(1, 90%);
    column-gap: 1%;
    list-style: none;
  }

  .produtos .produtos-desconto ul li,
  .produtos .produtos-desconto ul li img {
    max-width: 220px;
    margin: 0.7rem;
    justify-self: center;
  }
}
